.block {
  display: block;
  width: 100%;
  border: none;
  background-color: #F67280;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
}

.box {
  display: 'flex';
  align-items: 'center';
  justify-content: 'center';
  margin: '10%';
}